.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calculator {
  display: block;
  margin-top: 25px;
}

.grades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #282c34;
}

.controls {
  display: flex;
}

.controls button {
  flex-grow: 0;
}

.controls input {
  min-width: 30px;
  max-width: 100px;
  flex-shrink: 2;
}

.grade {
  display: block;
  border: 1px solid white;
  border-radius: 5px;
  max-width: 200px;
  padding: 10px;
  margin: 5px 10px;
}